/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
body{
  background: url(https://www.ajax.com/content/dam/cp-sites/home-care/ajax/en_us/img/promo-text/call-outs-images-cleaner.jpg);
}

.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px white;
    background-color: black;
    color: white;
  }

  .output {
    color: white;
    font-size: large;
    font-weight: bold;
    text-transform: capitalize;
  }