/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
body{
  background: url(https://cdn-icons-png.flaticon.com/512/64/64774.png);
}

.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px black;
    background-color: grey;
  }

  .output {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 6.5em;
    width: 0px;
  }

.output {
  padding:0;
  counter-reset: lis;
}

li{
  display:block;
  width: 100px;
}
li:before{
  counter-increment: lis;
  content:counter(lis);
}