/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
body{
  background: url(https://kids.scholastic.com/content/kids64/en/books/harry-potter/_jcr_content/root/responsivegrid/responsivegrid_copy_/image.coreimg.100.1285.png/1633456741254/header-hp-overlay.png);
}

.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px black;
    background-color: gold;
  }